html {
    font-size: 10px;
    font-family: 'Raleway', sans-serif;
}

h1{
    font-size: 60px;
    text-align: center;
}

p, li {
    font-size: 16px;
    line-height: 2;
    letter-spacing: 1 px;
}

html {
    background-color: #16CEC5
}

body {
    width: 600px;
    margin: 0 auto;
    background-color: #ffffff;
    padding: 0 20px 20px 20px;
    border: 5 px solid black;
}

h1 {
    margin: 0;
    padding: 20px 0;
    text-shadow: 1px 1px 3px #16cec5;
}

img{
    display: block;
    margin: 0 auto;
}